.dark *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #15171f;
}

.dark *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #4a6494;
}

.dark *::-webkit-scrollbar-thumb:hover {
  background: #2b7fd5;
}

/* firefox: Gecko */
.dark * {
  scrollbar-width: thin;
  scrollbar-color: #4a6494 #15171f;
}
