.dark *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #1d1f27;
}

.dark *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #2b7fd5;
}

.dark *::-webkit-scrollbar-thumb :hover {
  background: #2b7fd5;
}
