/* write styles for css-transition here */
.dropdown-enter {
  opacity: 0;
  transform: scale(0.1) translateY(40px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: scale(1) translateY(8px);
  transition: opacity 200ms, transform 200ms;
}

.dropdown-exit {
  opacity: 1;
  transform: scale(1) translateY(8px);
}

.dropdown-exit-active {
  opacity: 0;
  transform: scale(0.1) translateY(-40px);
  transition: opacity 200ms, transform 200ms;
}
